<style>
*{
  padding:0; margin:0;
}
body
 .titulo{
    color: #72705B;
    font-family: monospace, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;    
    margin-top: 30px;
    margin-bottom: 50px;
}
table {
   width: 100%;
   text-align: left;
   border-collapse: collapse;
   margin: 0 0 1em 0;
   caption-side: top;
   font-size: 18px; 
   font-family: monospace;
   font-weight: bold;
   
   
}
caption, td, th {
   padding: 0.3em;
   font-size: 16px; 
   font-family: monospace;
   background-color: #A7C4B5;
   
}
tbody {
   border-top: 1px solid #000;
   border-bottom: 1px solid #000;
}
tbody th, tfoot th {
   border: 0;
}
th.name {
   width: 25%;
}
th.location {
   width: 20%;
}
th.lasteruption {
   width: 30%;
}
th.eruptiontype {
   width: 25%;
}
tfoot {
   text-align: center;
   color: #555;
   font-size: 0.8em;
}
</style>

<p id="notice"><%= notice %></p>
<center>
<h2 class="titulo">Products</h2>
</center>
<table id="tabla1234" class="tabla1234">
  <thead>
    <tr>
      <th>Name</th>
      <th>Color</th>
      <th>Category</th>
      <th>Size</th>
      <th>Price</th>
      <th>Store</th>
      <th> </th>
      <th> </th>
      <th>  </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.color %></td>
        <td><%= product.category %></td>
        <td><%= product.size %></td>
        <td><%= product.price %></td>
        <td><%= product.store %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<script>
$(document).ready( function () {
    $('#tabla1234').DataTable();
} );
</script>
<br>

<%= link_to 'New Product ', new_product_path %><i class="far fa-file"></i>
