<p id="notice"><%= notice %></p>
<style>
*{
  padding:0; margin:0;
}
body
.titulo{
    color: #72705B; 
    font-family: monospace, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;    
    margin-top: 30px;
    margin-bottom: 50px;
}
.formulario{
    width: 35%;
    height: auto;
    border-radius: 4px;
    border:2.5px solid #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.formulario p{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

 
    </style>
<div class="small-container center-block">
<center>
<h2 class="titulo">Show Products</h2>
<div class="formulario">
<center>
  <p>
    <strong>Name: </strong><%= @product.name %>

  </p>
  <p>
    <strong>Color: </strong><%= @product.color %>
    
  </p>
  <p>
    <strong>Category: </strong><%= @product.category %>
     
  </p>
  <p>
    <strong>Size: </strong><%= @product.size %>
    
  </p>
  <p>
    <strong>Price: </strong><%= @product.price %>
    
  </p>
  <p>
    <strong>Store: </strong><%= @product.store %>
    
  </p>
  <p>
   <strong>Price: </strong><%= @product.price %>
    

  </p>
  
<%= link_to 'Edit', edit_product_path(@product) %> <i class="fas fa-edit"></i>|
<%= link_to 'Back', products_path %><i class="fas fa-sign-out-alt"></i>
</center>